/* ================ GLOBAL STYLES ================ */

html {
  height: 100%;
  // overflow-y: scroll;
  font-size: 10px;
}

body {
  color: $darkColor ;
  @include clearfix;
  height: 100%;
  font-family: $enFont;
  font-size: 1.6rem;
  line-height: 1.5 !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-overflow-scrolling: touch;
  font-weight: 600;
  // Example of an Override in RTL CSS
  /*rtl:raw:
  font-family: "DroidArabicNaskh", sans-serif;
  font-size: 1.6rem;
  direction: rtl;
*/




  // replace transition with some autoprifixer syntax
  a,
  button,
  input {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: none;
    color: $darkColor ;
  }

  // Scrollbar styles
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // &::-webkit-scrollbar-thumb {
  //   display: none;
  // }

  // &:hover::-webkit-scrollbar-thumb {
  //   display: none;
  // }


}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 3rem;
}

.main{
  padding-bottom: 2rem
}