.sidebar {
    width: 20%;
    max-width: 30rem;
    min-width: 25rem;
    border: 1px solid #eee;
    height: 100%;
    border-radius: 1rem;

    .fields {
        margin-top: 4rem;
    }
}

.navbar {
    width: 100%;

    li {
        a {
            font-size: 1.7rem;
            color: #333;
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: transparent;
            transition: all .3s;
       

            &.active {
                background-color: #727476;
                color: white;
                background-image: url("/content/images/chevron-down-solid-white.svg");

                .sub-nav {
                    display: block;
                }

                &:first-child {
                    border-radius: 1rem 1rem 0 0;

                }
            }
        }
        &.list{
            background-position: center right 1.5rem;
            background-size: 1.5rem;
            background-repeat: no-repeat;
            background-image: url("/content/images/chevron-down-solid.svg");

        }
    }

    .sub-nav {
        padding-inline-start: 1.5rem;
        // display: none;
        background-color: #e5e5e6;

        &.active {
            display: block;
        }

        a {
            background-image: none;

            &.selected {
                color: $primaryColor;
            }
        }
    }
}