.sidebar {
    width: 15%;
    max-width: 25rem;
    min-width: 20rem;
    border-right: 1px solid #eee;
    height: 100vh;
    position: sticky;
    top: 0;

    .fields {
        margin-top: 4rem;
    }
}

.navbar {
    width: 100%;

    li {
        a {
            font-size: 2rem;
            color: #333;
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: transparent;
            transition: all .3s;

            &.active {
                background-color: #727476;
                color: white;

                .sub-nav {
                    display: block;
                }
            }
        }
    }
}

.sub-nav {
    padding-inline-start: 2rem;
    display: none;
    background-color: #e5e5e6;

    &.active {
        display: block;
    }
    a{
        &.selected{
            color: $primaryColor;
        }
    }
}