%btn {
    outline: 0;
    border: 0;
    background: none;
    border-radius: 0.5 rem;
    appearance: none;
    cursor: pointer;
    font-family: $enFont;
    transition: 0.3s;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: 1px solid transparent;
    font-size: 13px;
    text-transform: uppercase;
    pointer-events: all;
    border-radius: 0.5rem;
    min-width: 10rem;

    &[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primaryColor;
    color: white;

    &:hover {
        background-color: rgba($color: $primaryColor, $alpha: 0.7)
    }
}

.btn-grey {
    @extend %btn;
    background-color: $secondaryColor;
    color: $darkColor;

    &:hover {
        background-color: rgba($color: $secondaryColor, $alpha: 0.7)
    }
}

.btn-link {
    @extend %btn;
}