.dataTables_wrapper {
	.dataTables_filter {
		margin-bottom: 3rem;
		input {
			border: 1px solid #eee;
			padding: 0 1.5rem;
			height: 4rem;
			font-size: 1.5rem;
		}
		label{
			font-size: 0;
		}
	}
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer{
	border: 0;
}
