select,
input,
textarea {
    outline: 0;
    border: 0;
    background: none;
    border-radius: 0.5rem;
    appearance: none;
    cursor: pointer;
    font-family: $enFont;
    transition: 0.3s;
}

.custom-field {
    &:read-only {
        background-color: #C4C4C5;
    }
}

.custom-field,
.custom-select,
.custom-textarea {
    border: 1px solid #eee;
    padding: 0 1.5rem;
    height: 4rem
}

.fields__field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    &:last-child {
        margin-bottom: 0;
    }
}

.label {
    font-size: 1.5rem;
}

.fields__cta {
    margin-top: 4rem;
}

form {
    width: 100%;
}