.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
margin-bottom: 1rem;
  .container {
    display: flex;
    align-items: center;
  }
}

.account {
  margin-inline-start: auto;
}