.container--has-sidebar {
    display: flex;

    .main__content {
        flex: 1;
        padding: 0 4rem 2rem;
        max-width: 75%;
    }

}


.fields--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2rem;

}

.actions {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: end;

    button,
    a {
        margin-inline-end: 1rem;
        font-size: 1.6rem;

        &:last-child {
            margin: 0;
        }
    }

    .left-actions,
    .right-actions {
        display: flex;
        align-items: center;
    }

    .left-actions {
        margin-inline-start: auto;
    }
}

.message-view {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .message-veiw__container {
        display: flex;
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f3f3f3;
        min-width: 30rem;
        padding: 4rem;

        span {
            margin-top: 2rem;
        }
    }


}

.logo {
    a {
        justify-content: center;
    }

    img {
        width: 20rem;
    }
}

.login-container {
    margin: auto;
    max-width: 40rem;
    display: flex;
    align-items: center;
    height: calc(100vh - 4rem);
    justify-content: center;
    flex-direction: column;

    .logo {
        margin-bottom: 2rem;
    }

    .fields__field {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;

    h1 {
        font-size: 2.2rem;
    }
}

.page-heading {
    margin-bottom: 2rem;
}

.guarantee-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.guarantee-list-fields__content {
    display: none;

    &:first-child {
        display: block;
    }
}

.note {
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    ul {

        li {
            font-size: 15px;
            font-weight: 100;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            background: url("/content/images/circle-exclamation-solid.svg");
            background-size: 1.7rem;
            background-repeat: no-repeat;
            background-position: center left;
            padding-inline-start: 2.8rem;
        }

        span {
            font-weight: bold;

        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}