.normal-popup {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 40rem;
  width: 100%;
  margin: auto;
  min-width: 40rem;
  text-align: center;

  .message-view {
    height: auto;

    .message-veiw__container {
      min-width: unset;
      width: 100%;
      background-color: transparent;
    }
  }

  .wrapper__content__body {
    padding: 4rem 2rem;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

.close-popup {
  @extend %btn;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  min-width: auto;
  position: absolute;
  top: 15px;
  right: 15px;

}

.mfp-close {
  display: none !important;
}

.wrapper__content__footer {
  .actions {
    justify-content: center;
  }
}