.table {
  width: 100%;
  border-collapse: collapse;


  td,
  th {
    border: 1px solid #ececed;
    padding: 0.8rem;
    white-space: nowrap;
    text-align: center;
  }

  th {
    background: rgba($color: $primaryColor, $alpha: 0.08);
    text-align: center;
    font-weight: 700;

  }

  .custom-select,
  .custom-field {
    border: 0;
    min-width: 10rem;
  }

  td {
    font-size: 1.5rem;
  }
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem;

  &:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 2rem;
  }
}

.table-wrapper {
  margin: 0;
  overflow: auto;

  // Scrollbar styles
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    -webkit-transition: 0.3s background;
    transition: 0.3s background;
  }

  &::-webkit-scrollbar-thumb {
    background: #ced4da;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #adb5bd;
  }
}