<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li>
          <a href="#" class="active"> انشاء معاملة جديدة </a>
          <ul class="sub-nav active">
            <li>
              <a href="#" class="selected"> انشاء صادر </a>
            </li>
            <li>
              <a href="#"> انشاء وارد </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"> المسودة </a>
        </li>
        <li>
          <a href="#"> التقرير </a>
        </li>
        <li>
          <a href="notifications.html"> التنبيهات </a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="table-containers">
        <div class="table-title">
          <h2>تنبيهات الحركة و التخليص</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th colspan="3">لا يوجد</th>
            </thead>
          </table>
        </div>
        <div class="table-title">
          <h2>تنبيهات العينات</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th>رقم الاقرار</th>
              <th>التنبيه</th>
              <th>درجة الخطورة</th>
            </thead>
            <tbody>
              <tr>
                <td>تشغيل لدى الغير 1</td>
                <td>
                  تم استلام خطاب رفض العينه و لم يسجل بالنظام ارسال العينة
                  الثانية
                </td>
                <td>خطير جدا</td>
              </tr>
              <tr>
                <td>تشغيل لدى الغير 2</td>
                <td>باقي على فترة التشغيل 2 اسبوع</td>
                <td>متوسط</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-title">
          <h2>تنبيهات الضمانات</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th>رقم الضمان</th>
              <th>التنبيه</th>
              <th>درجة الخطورة</th>
            </thead>
            <tbody>
              <tr>
                <td>تشغيل لدى الغير 1</td>
                <td>
                  تم استلام خطاب رفض العينه و لم يسجل بالنظام ارسال العينة
                  الثانية
                </td>
                <td>خطير جدا</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
