<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="scss/custom.css" />
  </head>
  <body>
    <main class="main">
      <div class="container container--has-sidebar">
        <aside class="sidebar">
          <ul class="navbar">
            <li>
              <a href="#" class="active"> Create an export </a>
              <ul class="sub-nav">
                <li>
                  <a href="#"> Create an outcoming </a>
                </li>
                <li>
                  <a href="#"> Create an incoming </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"> Inbox </a>
            </li>
            <li>
              <a href="#"> Draft </a>
            </li>
            <li>
              <a href="#"> Outcoming </a>
            </li>
            <li>
              <a href="#"> Search </a>
            </li>
            <li>
              <a href="#">Report</a>
            </li>
          </ul>
        </aside>
        <div class="main__content">
          <div class="wizard">
            <div class="wizard__steps">
              <div class="wizard__steps__step">
                <p>الاقرار الجمركي</p>
              </div>
              <div class="wizard__steps__step">
                <p>الشركات</p>
              </div>
              <div class="wizard__steps__step">
                <p>البوليصة</p>
              </div>
              <div class="wizard__steps__step">
                <p>نوع التعاقد</p>
              </div>
              <div class="wizard__steps__step">
                <p>تفاصيل الاصناف</p>
              </div>
              <div class="wizard__steps__step">
                <p>طلبات الشأن</p>
              </div>
            </div>
            <div class="wizard__content">
              <div class="wizard__content__body">
                <div class="tabs">
                  <div class="tab">
                    <div class="details">
                      <div class="two-fields">
                        <form action="" class="fields">
                          <div class="fields__field">
                            <select name="" id="" class="custom-select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4</option>
                            </select>
                          </div>
                          <div class="fields__field">
                            <select name="" id="" class="custom-select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4</option>
                            </select>
                          </div>
                          <div class="fields__field">
                            <input
                              type="input"
                              class="custom-field"
                              value="2222"
                              readonly
                            />
                          </div>
                        </form>
                        <form action="" class="fields">
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                            />
                          </div>
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                            />
                          </div>
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                              readonly
                            />
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="wizard__buttons">
                      <div class="wizard__buttons__two-btns">
                        <button class="btn-grey wizard-next-btn">التالي</button>
                        <button class="btn-grey wizard-prev-btn">التالي</button>
                      </div>
                      <button class="btn-grey wizard-next-btn">التالي</button>
                    </div>
                  </div>
                  <div class="tab">
                    <div class="details">
                      <div class="two-fields">
                        <form action="" class="fields">
                          <div class="fields__field">
                            <select name="" id="" class="custom-select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4</option>
                            </select>
                          </div>
                          <div class="fields__field">
                            <select name="" id="" class="custom-select">
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4</option>
                            </select>
                          </div>
                          <div class="fields__field">
                            <input
                              type="input"
                              class="custom-field"
                              value="2222"
                              readonly
                            />
                          </div>
                        </form>
                        <form action="" class="fields">
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                            />
                          </div>
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                            />
                          </div>
                          <div class="fields__field">
                            <input
                              type="password"
                              class="custom-field"
                              placeholder="input"
                              readonly
                            />
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="wizard__buttons">
                      <div class="wizard__buttons__two-btns">
                        <button class="btn-grey wizard-next-btn">التالي</button>
                        <button class="btn-grey wizard-prev-btn">التالي</button>
                      </div>
                      <button class="btn-grey wizard-next-btn">التالي</button>
                    </div>
                  </div>
                  <div class="tab">
                    <div class="details">text 3</div>
                    <div class="wizard__buttons">
                      <button class="btn blue-btn wizard-next-btn">
                        Pay Now
                        <span> -> </span>
                      </button>
                    </div>
                  </div>
                  <div class="tab">
                    <div class="details">text 4</div>
                    <div class="wizard__buttons">
                      <button class="btn blue-btn wizard-next-btn">
                        Pay Now
                        <span> -> </span>
                      </button>
                    </div>
                  </div>
                  <div class="tab">
                    <div class="details">text 5</div>
                    <div class="wizard__buttons">
                      <button class="btn blue-btn wizard-next-btn">
                        Pay Now
                        <span> -> </span>
                      </button>
                    </div>
                  </div>
                  <div class="tab">
                    <div class="details">text 6</div>
                    <div class="wizard__buttons">
                      <button class="btn blue-btn wizard-next-btn">
                        Pay Now
                        <span> -> </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/customScript.js"></script>
</html>
