<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li>
          <a href="#" class="active"> انشاء معاملة جديدة </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> انشاء صادر </a>
            </li>
            <li>
              <a href="#"> انشاء وارد </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"> البريد </a>
        </li>
        <li>
          <a href="#"> المسودة </a>
        </li>
        <li>
          <a href="#"> التقرير </a>
        </li>
        <li>
          <a href="#"> التنبيهات </a>
        </li>
        <li>
          <a href="#">Report</a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="accordions">
        <div class="accordion">
          <div class="accordion-section">
            <div class="title active">
              <h3>الاقرار الجمركى</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> الجمرك</label>
                    <select name="" id="" class="custom-select">
                      <option value="">جمرك العامة</option>
                      <option value="">الميناء الجاف</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> المجمع </label>
                    <select name="" id="" class="custom-select">
                      <option value="">مدينة نصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> رقم التسجيل </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="رقم التسجيل"
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم التسجيل </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="التاريخ "
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-section">
            <div class="title">
              <h3>الشركات</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> القطاع</label>
                    <select name="" id="" class="custom-select">
                      <option value="">استثمار</option>
                      <option value="">حكومي</option>
                      <option value="">عام</option>
                      <option value="">خاص</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> اسم المستورد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">دلتا فابريك مصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الاستيراديه </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> رقم السجل </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه</label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-section">
            <div class="title">
              <h3>المستخلص</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> اسم مقدم الاقرار</label>
                    <select name="" id="" class="custom-select">
                      <option value="">استثمار</option>
                      <option value="">حكومي</option>
                      <option value="">عام</option>
                      <option value="">خاص</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> اسم المستورد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">دلتا فابريك مصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم رخصة التخليص </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> صفته </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-section">
            <div class="title">
              <h3>البوليصة</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> اسم مقدم الاقرار</label>
                    <select name="" id="" class="custom-select">
                      <option value="">استثمار</option>
                      <option value="">حكومي</option>
                      <option value="">عام</option>
                      <option value="">خاص</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> اسم المستورد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">دلتا فابريك مصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم رخصة التخليص </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> صفته </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-section">
            <div class="title">
              <h3>نوع التعاقد</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> نوع التعاقد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">استثمار</option>
                      <option value="">حكومي</option>
                      <option value="">عام</option>
                      <option value="">خاص</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> اسم المستورد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">دلتا فابريك مصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم رخصة التخليص </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> صفته </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for="" class="label"> نوع التعاقد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">استثمار</option>
                      <option value="">حكومي</option>
                      <option value="">عام</option>
                      <option value="">خاص</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> اسم المستورد </label>
                    <select name="" id="" class="custom-select">
                      <option value="">دلتا فابريك مصر</option>
                      <option value="">اخري</option>
                    </select>
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم رخصة التخليص </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> صفته </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="accordion-section">
            <div class="title">
              <h3>طلبات صاحب الشأن</h3>
            </div>
            <div class="content">
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> طلبات صاحب الشأن</label>
                    <textarea
                      class="custom-textarea"
                      name=""
                      id=""
                      cols="30"
                      rows="10"
                    ></textarea>
                  </div>
                </form>
              </div>
              <div class="two-fields">
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> رقم رخصة التخليص </label>
                    <input
                      type="text"
                      class="custom-field"
                      readonly
                      value="55556666"
                    />
                  </div>
                </form>
                <form action="" class="fields">
                  <div class="fields__field">
                    <label for=""> صفته </label>
                    <input
                      type="text"
                      class="custom-field"
                      placeholder="123456"
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> رقم البطاقه الضريبيه </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="دلتا فابريك مصر "
                      readonly
                    />
                  </div>
                  <div class="fields__field">
                    <label for=""> العنوان </label>
                    <input
                      type="text"
                      class="custom-field"
                      value="123456"
                      readonly
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
