<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li class="dropdown-list">
          <a href="create_transaction.html"> انشاء صادر </a>
          <ul class="sub-nav">
            <li>
              <a href="create_transaction.html"> انشاء جديد </a>
            </li>
            <li>
              <a href="archive.html"> الارشيف </a>
            </li>
            <li>
              <a href="view-all-transaction.html"> كل المعاملات </a>

            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> انشاء وارد </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> انشاء جديد </a>
            </li>
            <li>
              <a href="archive.html"> الارشيف </a>
            </li>
            <li>
              <a href="#"> التسويات </a>
            </li>
            <li>
              <a href="view-all-transaction.html"> كل المعاملات </a>

            </li>
          </ul>
        </li>
        <li class="dropdown-list open">
          <a href="view-all-LG.html"> إدارة الضامن </a>
          <ul class="sub-nav">
            <li>
              <a href="view-all-LG.html" class="selected"> خطاب ضمان بنكي </a>
            </li>
            <li>
              <a href="#"> تعهد شخصي </a>
            </li>
            <li>
              <a href="#"> نقدا </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> المسودة </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> المسودة 1 </a>
            </li>
            <li>
              <a href="#"> المسودة 2 </a>
            </li>
            <li>
              <a href="#"> الكل </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> التقارير </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> قائمة المعاملات </a>
            </li>
            <li>
              <a href="#"> تقرير الشهادات </a>
            </li>
            <li>
              <a href="#"> الكل </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> إدارة الحساب </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> English </a>
            </li>
            <li>
              <a href="#"> إعدادات الحساب </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"> وحدة الإدارة </a>
        </li>
        <li>
          <a href="notifications.html"> تنبيهات </a>
        </li>
        <li class="centered">
          <a href="#"> تسجيل خروج </a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="page-title">
        <h1>إنشاء خطاب ضمان بنكي</h1>
      </div>
      <form action="" class="fields fields--grid">
        <div class="fields__field">
          <label for="" class="label"> الرقم النعريفي للضمان البنكي *</label>
          <input
            type="number"
            class="custom-field"
            readonly
            value="2545125435"
          />
        </div>
        <div class="fields__field">
          <label for="" class="label"> مبلغ *</label>
          <input
            type="number"
            class="custom-field"
            id="input-amount"
            readonly
            value="15000"
          />
        </div>
        <div class="fields__field">
          <label for="" class="label"> تاريخ الإصدار *</label>
          <input
            type="text"
            class="custom-field input-date"
            placeholder="23-05-2012"
          />
        </div>
        <div class="fields__field">
          <label for="" class="label"> تاريخ استحقاق *</label>
          <input
            type="text"
            class="custom-field input-date"
            placeholder="23-05-2012"
          />
        </div>
        <div class="fields__field">
          <label for="" class="label"> العملة *</label>
          <select name="" id="" class="custom-select">
            <option value="">دولار اميريكي</option>
            <option value="">جنية مصري</option>
          </select>
        </div>
        <div class="fields__field">
          <label for="" class="label"> بنك *</label>
          <select name="" id="" class="custom-select">
            <option value="">البنك الاهلي</option>
            <option value="">اخري</option>
          </select>
        </div>
      </form>
      <div class="expansion-element">
        <h3>قيمة الزيادة</h3>
        <form action="" class="fields fields--grid">
          <div class="fields__field">
            <label for="" class="label"> مبلغ *</label>
            <input
              type="number"
              class="custom-field"
              id="input-amount"
              readonly
              value="15000"
            />
          </div>
          <div class="fields__field">
            <label for="" class="label"> تاريخ الإصدار *</label>
            <input
              type="text"
              class="custom-field input-date"
              placeholder="23-05-2012"
            />
          </div>
          <div class="fields__field">
            <label for="" class="label"> تاريخ استحقاق *</label>
            <input
              type="text"
              class="custom-field input-date"
              placeholder="23-05-2012"
            />
          </div>
        </form>
        <div class="actions">
          <div class="left-actions">
            <a
              href="successful-message.html"
              class="btn-primary"
              data-type="modal"
              data-target="edit-success"
            >
              تعديل
            </a>
            <a href="" class="btn-primary">إلغاء </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div
  id="edit-success"
  class="mfp-with-anim mfp-hide normal-popup"
  data-effect="mfp-zoom-in"
>
  <div class="wrapper">
    <div class="wrapper__content wrapper__content-centered">
      <div class="wrapper__content__header">
        <figure>
          <img src="content/images/success.svg" alt="">
        </figure>
        <h2>Edit Successfully</h2>
      </div>

      <div class="wrapper__content__footer">
        <div class="actions">
          <button class="btn-primary close-popup">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
