<header class="header">
  <div class="container">
    <div class="logo">
      <div class="logo">
        <a href="create_transaction.html">
          <figure><img src="content/images/logo.png" alt="" /></figure>
        </a>
      </div>
    </div>
    <div class="account">
      <ul>
        <li>
          <a href="notifications.html" class="notifi">
            <figure>
              <img src="content/images/bell-solid.svg" alt="" />
            </figure>

            <span>2</span>
          </a>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn-link dropdown-toggle">
              مرحبا, احمد محمد محمود
              <img src="content/images/chevron-down-solid.svg" alt="" />
            </button>
            <div class="dropdown-menu">
              <ul>
                <li>
                  <a href="#"> عربي </a>
                </li>
                <li>
                  <a href="#"> تسجيل دخول </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
