<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <title>Delta Galil</title>

    @@if (env === 'development') {
    <link rel="stylesheet" type="text/css" href="content/css/app-rtl.css" />
    } @@if (env === 'production') {
    <link rel="stylesheet" type="text/css" href="content/css/app-rtl-min.css" />
    }
  </head>

  <body>
    <div class="global-wrapper">
