<main class="main">
  <div class="container">
    <div class="main__content">
      <div class="login-container">
        <div class="logo">
          <figure><img src="content/images/logo.png" alt="" /></figure>
        </div>
        <form action="" class="fields">
          <div class="fields__field">
            <input
              type="text"
              class="custom-field"
              placeholder=" اسم المستخدم"
            />
          </div>
          <div class="fields__field">
            <input
              type="password"
              class="custom-field"
              placeholder="كلمة السر"
            />
          </div>
          <div class="fields__field">
            <select name="" id="" class="custom-select">
              <option value="" selected disabled>اختر اللغة </option>
              <option value="">اللغة العربية</option>
              <option value="">اللغة الانجليزية</option>
            </select>
          </div>

          <div class="fields__cta">
            <a href="create_transaction.html" class="btn-primary">تسجبل</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
