<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <form action="" class="fields">
        <div class="fields__field">
          <input type="text" class="custom-field" placeholder="Username" />
        </div>
        <div class="fields__field">
          <input type="password" class="custom-field" placeholder="Password" />
        </div>
        <div class="fields__cta">
          <a href="create_transaction.html" class="btn-primary">Login</a>
        </div>
      </form>
    </aside>
    <div class="main__content">
      <img src="content/images/test.png" alt="" />
    </div>
  </div>
</main>
