<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li class="dropdown-list">
          <a href="create_transaction.html"> انشاء صادر </a>
          <ul class="sub-nav">
            <li>
              <a href="create_transaction.html" > انشاء جديد </a>
            </li>
            <li>
              <a href="archive.html"> الارشيف </a>
            </li>
            <li>
              <a href="view-all-transaction.html"> كل المعاملات </a>

            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> انشاء وارد </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> انشاء جديد </a>
            </li>
            <li>
              <a href="archive.html"> الارشيف </a>
            </li>
            <li>
              <a href="#"> التسويات </a>
            </li>
            <li>
              <a href="view-all-transaction.html"> كل المعاملات </a>

            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="view-all-LG.html"> إدارة الضامن </a>
          <ul class="sub-nav">
            <li>
              <a href="view-all-LG.html" class="selected"> خطاب ضمان بنكي </a>
            </li>
            <li>
              <a href="#"> تعهد شخصي </a>
            </li>
            <li>
              <a href="#"> نقدا </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> المسودة </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> المسودة 1 </a>
            </li>
            <li>
              <a href="#"> المسودة 2 </a>
            </li>
            <li>
              <a href="#"> الكل </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> التقارير </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> قائمة المعاملات </a>
            </li>
            <li>
              <a href="#"> تقرير الشهادات </a>
            </li>
            <li>
              <a href="#"> الكل </a>
            </li>
          </ul>
        </li>
        <li class="dropdown-list">
          <a href="#"> إدارة الحساب </a>
          <ul class="sub-nav">
            <li>
              <a href="#"> English </a>
            </li>
            <li>
              <a href="#"> إعدادات الحساب </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"> وحدة الإدارة </a>
        </li>
        <li>
          <a href="notifications.html" class="selected"> تنبيهات </a>
        </li>
        <li class="centered">
          <a href="#"> تسجيل خروج </a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="table-containers">
        <div class="table-title">
          <h2>تنبيهات الحركة و التخليص</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th colspan="3">لا يوجد</th>
            </thead>
          </table>
        </div>
        <div class="table-title">
          <h2>تنبيهات العينات</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th>رقم الاقرار</th>
              <th>التنبيه</th>
              <th>درجة الخطورة</th>
              <th> التاريخ </th>
              <th> الوقت </th>
            </thead>
            <tbody>
              <tr>
                <td>تشغيل لدى الغير 1</td>
                <td>
                  تم استلام خطاب رفض العينه و لم يسجل بالنظام ارسال العينة
                  الثانية
                </td>
                <td>خطير جدا</td>
                <td>
                  20/08/2023
                </td>
                <td>
                  10:00
                </td>
              </tr>
              <tr>
                <td>تشغيل لدى الغير 2</td>
                <td>باقي على فترة التشغيل 2 اسبوع</td>
                <td>متوسط</td>
                <td>
                  20/08/2023
                </td>
                <td>
                  10:00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-title">
          <h2>تنبيهات الضمانات</h2>
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <th>رقم الضمان</th>
              <th>التنبيه</th>
              <th>درجة الخطورة</th>
              <th> التاريخ </th>
              <th> الوقت </th>
            </thead>
            <tbody>
              <tr>
                <td>تشغيل لدى الغير 1</td>
                <td>
                  تم استلام خطاب رفض العينه و لم يسجل بالنظام ارسال العينة
                  الثانية
                </td>
                <td>خطير جدا</td>
                <td>
                  20/08/2023
                </td>
                <td>
                  10:00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
