<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li>
          <a href="#" class="active"> انشاء معاملة جديدة </a>
          <ul class="sub-nav active">
            <li>
              <a href="#" class="selected"> انشاء صادر </a>
            </li>
            <li>
              <a href="#"> انشاء وارد </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"> المسودة </a>
        </li>
        <li>
          <a href="#"> التقرير </a>
        </li>
        <li>
          <a href="notifications.html"> التنبيهات </a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="tables-container">
        <div class="table-title">تنبيهات العينات</div>
        <table
          class="table"
        >
          <thead>
            <tr role="row">
              <th
                class="sorting_asc"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Column 1: activate to sort column descending"
                style="width: 163px"
              >
                Column 1
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 2: activate to sort column ascending"
                style="width: 125px"
              >
                Column 2
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 3: activate to sort column ascending"
                style="width: 324px"
              >
                Column 3
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 4: activate to sort column ascending"
                style="width: 350px"
              >
                Column 4
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 5: activate to sort column ascending"
                style="width: 201px"
              >
                Column 5
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 6: activate to sort column ascending"
                style="width: 147px"
              >
                Column 6
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="DataTables_Table_3"
                rowspan="1"
                colspan="1"
                aria-label="Column 7: activate to sort column ascending"
                style="width: 169px"
              >
                Column 7
              </th>
            </tr>
          </thead>

          <tbody>
            <tr role="row" class="odd">
              <td class="sorting_1">259192108472</td>
              <td>2017-06-20</td>
              <td class="rtl">تجميع البيانات الإحصائية الوصفية</td>
              <td>
                Pause/Recording-Periods_05/07
                <ul class="m-t-10">
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Video</a
                    >
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Screenshot</a
                    >
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                </ul>
              </td>
              <td class="blue"><i class="mIcon spin"></i> processing</td>
              <td>
                <a href="#" class="btn btn-default"
                  ><i class="mIcon"></i>Audio</a
                >
              </td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1">259192108472</td>
              <td>2017-06-20</td>
              <td class="rtl">تجميع البيانات الإحصائية الوصفية</td>
              <td>
                Pause/Recording-Periods_05/07
                <ul class="m-t-10">
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Video</a
                    >
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Screenshot</a
                    >
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                </ul>
              </td>
              <td class="green"><i class="mIcon"></i> Accepted</td>
              <td>
                <a href="#" class="btn btn-blue"><i class="mIcon"></i>Edit</a>
              </td>
            </tr>
            <tr role="row" class="odd">
              <td class="sorting_1">259192108472</td>
              <td>2017-06-20</td>
              <td class="rtl">تجميع البيانات الإحصائية الوصفية</td>
              <td>
                Pause/Recording-Periods_05/07
                <ul class="m-t-10">
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Video</a
                    >
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default"
                      ><i class="mIcon"></i>Screenshot</a
                    >
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                  <li>
                    <a href="#" class="btn-link btn-link-default">Link</a>
                  </li>
                </ul>
              </td>
              <td class="red"><i class="mIcon"></i> Rejected</td>
              <td>
                <a href="#" class="btn btn-green"><i class="mIcon"></i>Add</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
