<main class="main">
  <div class="container container--has-sidebar">
    <aside class="sidebar">
      <ul class="navbar">
        <li class="logo">
          <a href="create_transaction.html">
            <figure><img src="content/images/logo.png" alt="" /></figure>
          </a>
        </li>
        <li>
          <a href="#" class="active"> انشاء معاملة جديدة </a>
          <ul class="sub-nav active">
            <li>
              <a href="#" class="se"> انشاء صادر </a>
            </li>
            <li>
              <a href="#"> انشاء وارد </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"> المسودة </a>
        </li>
        <li>
          <a href="#"> التقرير </a>
        </li>
        <li>
          <a href="#"> التنبيهات </a>
        </li>
      </ul>
    </aside>
    <div class="main__content">
      <div class="message-view">
        <div class="message-veiw__container">
          <p>تم انشاء اقرار تشغيل لدى الغير بنجاح</p>
          <span> رقم الاقرار : 12225 </span>
        </div>
        <div class="actions">
          <a href="#" class="btn-primary">طباعة الاقرار </a>
          <a href="archive.html" class="btn-primary"> اضف للارشيف </a>
        </div>
      </div>
    </div>
  </div>
</main>
